@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto&display=swap');

.App {
    background-color: #56776a;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;  
    font-family: 'Roboto', sans-serif;
}

.App h1 {
    margin: 20px 0 0;
    font-family: 'Righteous', cursive;
    font-size: 3em;
}

.App p {
    margin: 20px 0 0;
    font-style: italic;
}

.App .Footer {
  margin-bottom: 20px;
}

.App a {
    text-decoration: none;
    font-weight: 700;
    transition: 200ms all ease-in;
    font-family: 'Righteous', cursive;
    color: white;
    letter-spacing: 0.2em;
}
.App a:active, .App a:hover {
    color: #f3c46d;
    letter-spacing: 0.4em;
}

.App .game-container {
    padding: 20px 30px;
    position: relative;
    margin: auto;
    height: 350px;
    width: 450px;
    color: rgb(171, 229, 145);
  }

  .App .figure-container {
    fill: transparent;
    stroke: #fff;
    stroke-width: 4px;
    stroke-linecap: round;
  }

  .App .figure-container .rod {
    stroke: #f3c46d;
  }

  .App .wrong-letters-container {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #f3c46d;
    font-weight: 700;
  }
  
  .App .wrong-letters-container p {
    margin: 0 0 5px;
    
  }
  
  .App .wrong-letters-container span {
    font-size: 24px;
    color: white;
    font-weight: 500;
  }
  
  .App .word {
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  .App .letter {
    border-bottom: 3px solid #4bb929;
    display: inline-flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    margin: 0 3px;
    height: 50px;
    width: 20px;
  }
  
  .App .popup-container {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* display: flex; */
    display: none;
    align-items: center;
    justify-content: center;
  }
  
  .App .popup {
    background: #628f71;
    border-radius: 5px;
    box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.5);
    padding: 20px 40px;
    text-align: center;
  }
  
  .App .popup button {
    cursor: pointer;
    background-color: #fff;
    color: #b95229;
    border: none;
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 600;
  }
  
  .App .popup button:active, .App .popup button:hover {
    transform: scale(0.95);
    background-color: rgb(194, 191, 191);
    color: #612c18;
    border: 2px solid #612c18;
  }
  
  .App .notification-container {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: none;
    transition: transform 0.3s ease-in-out;
    margin-top: 150px;
    font-size: 1.2rem;
  }

  .App .notification-container p {
    margin: 10px auto;
  }
  
  .App .notification-container.show {
    display: flex;
  }
